<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    XML File to upload:
    <form enctype="multipart/form-data" method="post">
        <input name="xmlfile" type="file"/>
        <input type="submit" value="submit" name="submit"/>
    </form>
</div>
<div th:if="${users}">
    <h1>Users</h1>
    <table border="1">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Flag</th>
        </tr>
        <tr th:each="user,iterationStatus  : ${users}">
            <td th:text="${iterationStatus.count}">1</td>
            <td th:text="${user.value}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.flag}"></td>
        </tr>
    </table>
</div>

</body>
</html> 